{% extends "layout.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <article class="media content-section">
    <div class="media-body">
        <h4>Intro</h4>
        <p class="text-secondary">Welcome to the Cancer Bioinformatics TCR Analysis page </p>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae nulla dolor.</p>
    </div>
    </article>
    <article class="media content-section">
    <div class="media-body">
        <h4>Data</h4>
        <p class="text-secondary">Access the data is this repository</p>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae nulla dolor.</p>
    </div>
    </article>
    </article>
    <article class="media content-section">
    <div class="media-body">
        <h4>Analysis</h4>
        <p class="text-secondary">Access the data analysis code in this repository</p>
        <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae nulla dolor.</p>
    </div>
    </article>
    </article>

{% endblock content %}
