{% extends "layout.html" %}
{% block content %}
    <h1>{{ title }}</h1>
    <article class="media content-section">
    <div class="media-body">
        <h4>TCR Project</h4>
        <p class="text-secondary">Members: Abigail Gutai, Anita Grigoriadis, Ernesto Lopez, Gregory Verghese, Roberta Liccardo, and Yin Wu</p>
        <p class="text-secondary">This is a platform (in development) to host resources and analyses for the TCR project.
    </div>
    </article>
    <article class="media content-section">
    <div class="media-body">
        <h4>Github repositories</h4>
        <ul>
            <li><a href="https://github.com/argutai/TCR-Application/tree/main" target="_blank">Website source code (public)</a></li>
            <li><a href="https://github.com/argutai/TCR-analysis/tree/main" target="_blank">Data analysis python code (public)</a></li>
            <li><a href="https://github.com/argutai/KCL-Raw-data/tree/main" target="_blank">Raw RNAseq data (private)</a></li>
            <li><a href="https://github.com/argutai/KCL-Content/tree/main" target="_blank">Content and figures (private)</a></li>
        </ul>
    </div>
    </article>
{% endblock content %}
