{% extends "layout.html" %}
{% block content %}
<center>
  <h3>Motif analysis of all samples</h3>
</center>
<article class="media content-section">
  <div class="media-body">    
  <h1> </h1>
  <img style="width: 100%; max-height: 600px" src="static/KCL-content/figures/motif_analysis/all_proportional.svg">
  </div>
</article>
  <article class="media content-section">
    <div class="media-body">   
      <p class="text-secondary"> Legend: Motif Analysis for all samples, with pool/treatment averages on the final row. Figures in subpolts were created using the palmotif package, using an average of the top 20 most expanded CDR3 sequences, with all CDR3 sequences from all control treatments as reference. Expanded letters represent aminoacids which are more present in the sample compared to the control references. This is only a preliminary figure - currently working on how to present motif analysis in a clearer more informative way.</p>
  </article>

<!-- <article class="media content-section">
    <div class="media-body">   
      <p class="text-secondary">Bubble overlay</p>
      <form method="POST" action="{{ url_for('bulkRNA') }}">
        <textarea id="legend" name="legend">{{ legend }}</textarea>
        <br>
        <input type="submit" value="Save changes">
      </form>
  </article> -->
{% endblock content %}