{% extends "layout.html" %}
{% block content %}
    <form class="form-inline" method="POST" action="{{ url_for('patients') }}">
      <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"></span>
                <select name="patient_select" class="selectpicker form-control">
                  <option value="" selected disabled hidden>Select a patient...</option>
                  {% for name in patient_names %}
                  <option value="{{ name }}">{{ name }}</option>
                  {% endfor %}
                </select>
        </div>
        <button type="submit" class="btn btn-default">Go</button>
      </div>
    </form>
    <p></p>
    
    {% for patient_obj in patient_obj %}
      <h1>Patient: {{ patient_obj.patient_id }} </h1>
      <p>Genomics: {{ patient_obj.genomics }}</p>
      <p>Hormad1: {{ patient_obj.hormad1 }}</p>
  
      {% for figure in patient_obj.figures %}
          <div>
              <div>
                <div class="media-body">
                  <h3>{{ figure.pool_id }}</h3>
                  <img src="static/KCL-content/figures/Sample_bubbles/{{ figure.Sample }}.svg" width="500" height="500">
                  <p class="text-secondary">Sample: {{ figure.Sample }}</p>
                  <p class="text-secondary">Expanded clonotypes (descending): {{ figure.expanded }}</p>
                  <p class="text-secondary"> </p>
                </div>
              </div>
            </div>
      {% endfor %}
    {% endfor %}
{% endblock content %}

<!-- patient_id, sample, protocol, pool_id, type -->