{% extends "layout.html" %}
{% block content %}
<center>
  <h3>TCRdist ordination</h3>
</center>
<article class="media content-section">
  <div class="media-body">    
  <form class="form-inline" method="POST" action="{{ url_for('TCRord') }}">
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon"></span>
              <select name="colour_by_select" class="selectpicker form-control">
                  <option value=none selected disabled hidden>Colour by...</option> 
                  <option value=Neg> Neg </option>
                  <option value=DMSO> DMSO </option>
                  <option value=CEF> CEF </option>
                  <option value=Pool1> Pool1 </option>
                  <option value=Pool2> Pool2 </option>
                  <option value=Pool5> Pool5 </option>
                  <option value=Pool7> Pool7 </option>
                  <option value=Pool8> Pool8 </option>
                  <option value=Pool9> Pool9 </option>
                  <option value=Pool10> Pool10 </option>
              </select>
      </div>
      <button type="submit" class="btn btn-default">Go</button>
    </div>
  </form>
  <div class="media-body">
  <h1> </h1>
  <img style="width: 100%; max-height: 600px" src="static/KCL-content/figures/ordinations/{{ file_name }}.svg">
  </div>
</article>
<article class="media content-section">
  <div class="media-body">   
    <p class="text-secondary">Multidimensional scaling of pairwise distances from TCRdist package of all TCRs from bulkRNAseq. Blue highlights the TCRs found in the pool selected, and their size reflects the proportion of the full sample of TCRs.</p>
</article>
{% endblock content %}